<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Branch&#x2007;React&#x2007;Native&#x2007;Sample&#x2007;App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.branch.branchsample-ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>branchsampleapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_dh1ZXXkeXYQVs5dtp0JaFokptspY4lz5</string>
		<key>test</key>
		<string>key_test_cm0794ba2WGPEYaAh8G8nhjfxvpZYeNk</string>
	</dict>
	<key>branch_universal_link_domains</key>
	<array>
		<string>branchsampleapps.app.link</string>
		<string>branchsampleapps-alternate.app.link</string>
		<string>branchsampleapps.test-app.link</string>
		<string>branchsampleapps-alternate.test-app.link</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Raleway-Black.ttf</string>
		<string>Raleway-BlackItalic.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-BoldItalic.ttf</string>
		<string>Raleway-ExtraBold.ttf</string>
		<string>Raleway-ExtraBoldItalic.ttf</string>
		<string>Raleway-ExtraLight.ttf</string>
		<string>Raleway-ExtraLightItalic.ttf</string>
		<string>Raleway-Italic-VariableFont_wght.ttf</string>
		<string>Raleway-Italic.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-LightItalic.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-MediumItalic.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Raleway-SemiBoldItalic.ttf</string>
		<string>Raleway-Thin.ttf</string>
		<string>Raleway-ThinItalic.ttf</string>
		<string>Raleway-VariableFont_wght.ttf</string>
	</array>
</dict>
</plist>
